yacs>=0.1.8
numpy>=1.24
torch>=2.2
torchvision>=0.17
opencv-python>=4.8
tqdm>=4.66
pycocotools>=2.0.7
matplotlib>=3.7
plyfile>=1.0.3
scikit-image>=0.21
scikit-learn>=1.3
PyOpenGL>=3.1.1a1
ipdb>=0.13
cyglfw3>=3.1.0.2
pyassimp>=4.1
progressbar>=2.5
open3d>=0.17
tensorboardX>=2.6
